.hide {
  display: none;
  color: red;
  position: absolute;
}
#email {
  height: 19px;
}
.hill,
.hifp,
.ema,
.pas {
  position: relative;
  font-size: 0.7em;
  margin: 0;
}
.email,
.pass {
  display: flex;
  flex-direction: row;
}
td {
  border: 1px solid #3c8dbc;
  text-align: center;
  vertical-align: middle;
  padding: 3px;
  width: 50px;
}
.tr {
  background-color: #ffffcc;
}
.th {
  background-color: #e2e2e2;
}
.co {
  background-color: rgb(204, 204, 255);
}
.coo {
  background-color: rgb(153, 204, 255);
}
.fp {
  background-color: #f9efa4;
}
.bg {
  background-color: #e2e2e2;
}
/* button {
  background-color: transparent;
  border: none;
} */
.green {
  background-color: #ccff33;
}
